[D-BUS Service]
Name=org.bluez.obex
Exec=/bin/sh -c 'if [ -z `ps ax | grep -v grep | grep obexd` ] ; then exec /usr/libexec/bluetooth/obexd -d --noplugin=ftp,syncevolution,pcsuite,irmc --symlinks -r /opt/home/owner/content/; fi'
